.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  background-color: #B2B2B3;
  height: 100%;
  position: fixed;
  z-index: 1;
  opacity: 80%;

  @media (max-width: 1023px) {
    height: 10%;
    width: 100%;
    flex-direction: row;
    opacity: 100%;
    justify-content: space-between;
    padding: 0 1rem;
  }

  @media (max-width:767px) {
    height: 15%;
    justify-content: center;
  }

  &-resp {

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width:1023px) {
      height: 100%;
      flex-direction: row;
      gap: 1rem;
    }

    @media (max-width:767px) {
      height: 100%;
      flex-direction: column;
      gap: 0;
    }

    h2 {

      @media (max-width:1439px) {
        font-size: 2vw;
      }

      @media (max-width:767px) {
        margin: 0.5rem 0;
        font-size: 4vw;
      }
    }
  }

  &-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    flex-wrap: wrap;

    @media (max-width:1023px) {
      padding-right: 2rem;
      gap: 2rem;
    }

    @media (max-width:767px) {
      gap: 15px;
    }

    &-item {
      font-size: 1.5rem;
      transition: .5s;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
      transform: scale(1);
      border-radius: 50%;

      a {
        display: inline-flex;
      }

      @media (max-width:1023px) {
        font-size: 3rem;
        display: inline-flex;
      }

      @media (max-width:767px) {
        font-size: 2.5rem;
      }


      &-link {
        color: black;

        &:hover {
          color: wheat;
          transition: .5s;
          border-radius: 50%;

        }
      }
    }
  }
}


.img {
  margin-top: 50px;
  width: 80%;
  border-radius: 50%;
  background: black;
  box-shadow: 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 1s infinite;

  @media (max-width: 1023px) {
    width: initial;
    margin-top: 10px;
    height: 60%;
  }

  @media (max-width:767px) {
    height: 50%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(245, 222, 217, 0.708);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(151, 247, 129, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 252, 88, 0);
  }
}


.scroll-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 15px 0 0 0;
  align-items: flex-start;

  @media (max-width:1023px) {
    display: none;
  }


  &-item {
    padding: 15px 0;

    &-link {
      position: relative;
      transition: .5s;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      text-decoration: none;
      color: rgba(0, 0, 0, 1);
      display: inline;
      border: none;
      background-color: transparent;
      font-family: inherit;
      padding: 0;
      cursor: pointer;

      &:focus {
        outline: none;
        box-shadow: none;
      }


      &.active {
        color: wheat;

        &::after {
          width: 100%;
          background-color: wheat;
        }
      }

      span {
        font-size: 1.5vw;
        padding-left: 5px;
      }




      &:after {
        position: absolute;
        content: '';
        background-color: black;
        width: 1rem;
        left: 0px;
        bottom: -.3rem;
        transition: width 0.5s ease-in-out;
        height: .1rem;
      }

      &:hover {
        color: wheat;
        transition: .5s;

        &:after {
          width: 100%;
          background-color: wheat;
        }
      }
    }
  }
}