.contacts {
  width: 90%;
  margin-left: 10%;
  background-color: #cec9c9;

  @media (max-width:1023px) {
    margin-left: 0;
    width: 100%;
  }

  &-title {
    text-align: center;
    padding-top: 1.5rem;

    @media (max-width:767px) {
      padding-top: 1rem;
    }

    h3 {
      font-size: 3rem;
      margin: 0;
      padding-top: 1.5rem;
      position: relative;
      display: inline;
      font-weight: 400;

      @media (max-width:767) {
        font-size: 2rem;
      }

      &::after {
        position: absolute;
        content: '';
        background-color: black;
        width: 80%;
        left: 0px;
        bottom: -.3rem;
        transition: width 0.5s ease-in-out;
        height: .1rem;
      }
    }

    p {
      font-size: 1.5rem;

      @media (max-width:1023px) {
        font-size: 2.5vw;
      }

      @media (max-width:767px) {
        padding: 0 1rem;
        font-size: 1rem;
      }
    }
  }

  &-wrapper {
    display: flex;
    gap: 4rem;
    padding: 4rem;
    padding-top: 2rem;

    @media (max-width:1043px) {
      gap: 2rem;
      padding: 2rem;
    }

    @media (max-width:767px) {
      flex-direction: column;
      width: 90%;
      justify-content: center;
      margin: 0 auto;
      padding: 1rem 0;
      gap: 1rem;
    }
  }

  &-info {
    background-color: #ddd9d9;
    width: 50%;

    @media (max-width:767px) {
      width: 100%;
    }

    &-item {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 0.25rem;

      span {
        margin-left: 0.5rem;
        font-size: 1.5rem;
      }

      p {
        margin: 0.5rem 0;
        font-size: 1.25rem;
      }

      svg {
        font-size: 1.5rem;
        transition: .5s;
        margin-bottom: -0.1rem;

        &:hover {
          color: #95744b;
        }
      }
    }
  }

  &-form {
    background-color: #ddd9d9;
    width: 50%;
    padding: 1rem;

    @media (max-width:767px) {
      width: auto;
    }

    .form {
      &-part {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;

        label {
          font-size: 1.5rem;

          @media (max-width:767px) {
            font-size: 1rem;
          }
        }

        textarea {
          resize: vertical;
          min-height: 5rem;

          @media (max-width:767px) {
            min-height: 3rem;
          }
        }

        input,
        textarea {
          padding: 0.5rem;
          border-radius: 0.5rem;
          border: 0.15rem solid #cec9c9;
          font-size: 1.25rem;
          font-family: inherit;
          transition: all 0.35s ease-in-out;

          @media (max-width:767px) {
            font-size: 1rem;
          }
        }

        input:focus-visible,
        textarea:focus-visible {
          outline: none;
        }

        input:focus,
        textarea:focus {
          border: 0.15rem solid rgb(118, 170, 234);
        }

        button {
          font-size: 1.15rem;
          padding: 0.35rem;
          border-radius: 0.35rem;
          width: 35%;
          align-self: flex-start;
          border: 2px solid rgb(118, 170, 234);
          background-color: rgb(118, 170, 234);
          cursor: pointer;
          color: white;
          transition: .35s;
          opacity: 80%;

          &:hover {
            background-color: white;
            color: rgb(118, 170, 234);
            opacity: 100%;
          }
        }
      }
    }
  }
}