.hero {


  &-text {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &-name {
      font-size: 4.5rem;
      color: whitesmoke;
      text-shadow: 0 0 10px black;
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 40%;

    }
  }


  &-image {
    top: 0;
    right: 0;
    position: fixed;
    aspect-ratio: 1.1;
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    z-index: -1;
    height: 100%;
  }
}