.resume {
  margin-left: 10%;
  width: 90%;
  background-color: #cec9c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-bottom: 1.5rem;

  @media (max-width:1023px) {
    margin-left: 0;
    width: 100%;
  }

  &-wrapper {
    display: flex;
    width: 90%;
    align-items: start;

    gap: 1rem;

    @media (max-width:767px) {
      flex-direction: column;
    }

    @media print {
      flex-direction: column;
      justify-content: center;
      display: flex;
      gap: 20px;
    }

    &-item {
      display: inline-block;

      @media print {}


      h3 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0;
        font-family: Roboto;

        @media print {
          font-size: 3rem;
        }




        @media (max-width:1023px) {
          font-size: 1.5rem;
        }

        @media (max-width:767px) {
          text-align: center;
        }

        @media print {
          text-align: center;
        }
      }

      &-block {
        padding-left: 2rem;
        box-sizing: border-box;
        font-size: 1.5rem;
        position: relative;
        border-left: 2px solid #76aaea;

        @media print {
          font-size: 3rem;
        }

        @media (max-width:1023px) {
          font-size: 1.2rem;
        }

        @media (max-width:767px) {
          font-size: 1rem;
        }

        &::before {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          border-radius: 50px;
          left: -10px;
          top: 0;
          border: 2px solid #1f5297;
          background-color: #cec9c9;
        }

        h4 {
          text-transform: uppercase;
          margin-bottom: 1rem;
          font-family: Robotoç;
        }
      }
    }
  }

  &-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1.5rem;

    span {
      font-size: 1.5rem;

      @media (max-width:1023px) {
        font-size: 2.5vw;
        text-align: center;
      }

      @media (max-width:767px) {
        font-size: 1rem;
        text-align: center;
      }
    }


    &-title {
      color: rgb(13, 8, 8);
      font-size: 2.5rem;
      position: relative;
      display: inline;
      padding: 0.5rem;
      align-self: center;

      h2 {
        margin: 0;
        font-weight: 400;

        @media (max-width:1023px) {
          font-size: 3rem;
        }

        @media (max-width:767px) {
          font-size: 2rem;
        }
      }

      &::after {
        position: absolute;
        content: '';
        background-color: black;
        width: 80%;
        left: 0px;
        bottom: -.3rem;
        transition: width 0.5s ease-in-out;
        height: .1rem;

      }
    }
  }
}